@{
    ViewBag.Title = "Welcome to Force.edu";
}

<div class="jumbotron">
    <h1 class="mt-4 text-center">@ViewBag.Title</h1>
    <p class="lead text-center">The only online accessible way to master the force.</p>
</div>

<div>
    <img src="~/Content/Images/force.jpg" style="display: block; width: 100%; max-width: 800px; margin: 0 auto;" />
</div>

<h5 class="fst-italic text-center">Master the force on your schedule in only three months!</h5>

@{
    if ( Request.IsAuthenticated && ( User.IsInRole("Admin") || ( User.IsInRole("Scheduling") ) ) )
    {
        <h3 class="text-center mt-4">Documentation</h3>
        <img src="~/Content/Images/Documentation.jpg" style="display: block; width: 100%; max-width: 900px; margin: 0 auto;" title="Documentation" />
    }
    else
    {
        <h3 class="text-center mt-4">Get Started</h3>
        <h5 class="text-center mt-4">Administrator Access</h5>
        <p class="text-center"><strong>Username:</strong> admin@forcemail.com</p>
        <p class="text-center"><strong>Password:</strong> P@ssw0rd</p>

        <h5 class="text-center mt-4">Scheduling Access</h5>
        <p class="text-center"><strong>Username:</strong> scheduling@forcemail.com</p>
        <p class="text-center"><strong>Password:</strong> P@ssw0rd</p>
    }
}