@{
    ViewBag.Title = "Welcome to Force.edu";
}

<div class="jumbotron">
    <h1 class="mt-4 text-center">@ViewBag.Title</h1>
    <p class="lead text-center">The only online accessible way to master the force.</p>
</div>

<div>
    <img src="~/Content/Images/force.jpg" style="display: block; width: 100%; max-width: 800px; margin: 0 auto;" />
</div>

<h5 class="fst-italic text-center">Master the force on your schedule in only three months!</h5>