@{
    ViewBag.Title = "Welcome to Force.edu";
}

<div class="jumbotron">
    <h1 class="mt-4 text-center">@ViewBag.Title</h1>
    <p class="lead text-center">The only online accessible way to master the force.</p>
</div>

